.game-container{
    position: absolute;
    height: 680px;
    width: 880px;
    left: 50%;
    top: 50%;
    margin: -340px 0 0 -440px;
    overflow: hidden;
}

#game-canvas{
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px inset gray;
}

.modal{
    width: 100%;
    height: 100%;
    background-color: rgba(185, 185, 185, 0.747);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}

.start-modal-content{
    position: relative;
    background-color: #000000b4;
    margin: 20% auto;
    padding: 0;
    color: white;
    display: block;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 28px;
    border-radius: 5px;

}

#start-button{
    height: 50px;
    width: 180px;
    background-image: linear-gradient(to bottom right, red, red, white);
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 12px;
    position: relative;
    bottom: 30px;
    transition-duration: 0.2s;
    font-size: 24px;
}

#start-button:hover{
    cursor: pointer;
    border: 2px inset gray;
    transition-duration: 0.2s;
}

#hold-canvas{
    position: relative;
    left: 80px;
    top: -803px;
    border-radius: 5px;
    border: 2px inset gray;
}

#next-canvas{
    position: relative;
    top: -643px;
    right: -470px;
    border-radius: 5px;
    border: 2px inset gray;
}

#score-canvas{
    position: relative;
    top: -323px;
    right: -302px;
    border-radius: 5px;
    border: 2px inset gray;
}

#instructions{
    background-color: black;
    height: 400px;
    width: 160px;
    position: relative;
    top: -732px;
    right: -80px;
    border-radius: 5px;
    border: 2px inset gray;
}

#instructions h1{
    color: white;
    font-size: 20px;
    margin: 10px;
    margin-bottom: 30px;
    text-align: center;
}

li{
    color: white;
    margin: 8px;
    line-height: 1.3;
    font-size: 16px;
}
li span{
    font-style: italic;
    font-size: 14px;
}

#restart-modal-background{
    display: none;
}

.restart-modal-content{
    position: relative;
    background-color: #000000b4;
    margin: 20% auto;
    padding: 0;
    color: white;
    display: block;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    border-radius: 5px;
}

#restart-button{
    height: 50px;
    width: 180px;
    background-image: linear-gradient(to bottom right, blue, blue, white);
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 12px;
    position: relative;
    bottom: 30px;
    transition-duration: 0.2s;
    font-size: 24px;
}

#restart-button:hover{
    cursor: pointer;
    border: 2px inset gray;
    transition-duration: 0.2s;
}

#links{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

#links a{
    color: white;
    opacity: 0.4;
    transition: opacity 0.2s ease-in;
}

#links a:hover{
    opacity: 0.75;
}

html{
    background-color: rgba(185, 185, 185);
}